.main-course-container div{
	float: left;
	
}
.main-course-container:after{
	content: "";
	display: block;
	clear: both;
}
.main-course-container,.goods-container{
	width: 1200px;
	margin: 0 auto;
}
/*.goods-container{
	width: 1200px;
	margin: 0 auto;
}*/
