


.header-top-container {
    width: 1200px;
    margin: 0 auto;
}

.header-top {
    min-width: 1200px;
    height: 40px;
    background-color: #f8f8f8;
    border-bottom: 1px #ebebeb solid;
}

.header-top-home {
    float: left;
}

.header-top a {
    line-height: 40px;
    color: #333333;
}

.header-top .header-top-login {
    color: red;
}

.header-top-menu {
    float: right;
}

.header-top-menu li {
    padding-left:22px;
}
.header-top-container:after {  /* 清除左右浮动 */  /*after是一个伪类  在这个元素的后面添加内容*/
    content: '';
    display: block;/* 转块级元素,清除浮动*/
    clear: both;
}

.header-top-menu li {
    float: left;
}

.header-search-container {
    min-width: 1200px;
    background-color: #fff;
}

.search-container {
    width: 1200px;
    margin: 0 auto;
}

.header-search-logo,.header-search-content {
    float: left;
}

.header-search-code {
    float: right;
}

.header-search-content {
    width: 434px;
    text-align: center;
    height: 44px;
    padding: 30px 0;
}

.header-search-content input {
    float:left;
}
.search-container:after{
	content: "";
	display: block;
	zoom: 1;/* 兼容IE*/
	clear: both;
}

.header-search-content > input:first-child {
    width: 85%;
    height: 44px;
    border: #fb3434 2px solid;
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
    outline: none;
    padding: 0 15px;
}
.header-search-content > input:last-child {
    width: 15%;
    height: 44px;
    background-color: #fb3434;
    border-radius: 0 5px 5px 0;
    padding: 10px 15px;
    box-sizing: border-box;
}
section nav{
	height: 50px;
	background-color: #fb3434;
}

.main-nav-container{
	padding: 0 50;
	width: 1200px;
	margin: 0 auto;
	
}
.main-nav-container li{
	float: left;
	width:10%;
	height: 50px;
	background-color: #fb3434;
	 color: #ffc31a;
	text-align: center;
	line-height: 50px;
	
}
.main-nav-container li:hover {
    background-color: #ffc31a;
    color: #fb3434;
}
.main-nav-container:after {
    content: "";
    display: block;
    clear: both;
}